<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519039287798-q3ikqc0fm1pm3vn12ied1v31h6s9h5vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519039287798-q3ikqc0fm1pm3vn12ied1v31h6s9h5vv</string>
	<key>API_KEY</key>
	<string>AIzaSyCvnGJcLTEsmrb-rpT_RytEPGf1cx2q1_s</string>
	<key>GCM_SENDER_ID</key>
	<string>519039287798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weavergps.ios</string>
	<key>PROJECT_ID</key>
	<string>weaver-aselsis</string>
	<key>STORAGE_BUCKET</key>
	<string>weaver-aselsis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519039287798:ios:ef10f035d87f0d007007d7</string>
</dict>
</plist>